<% provide(:title, 'All Engagements') %>
<div class="card">

  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-bordered mb-0">
        <thead>
        <tr>
          <th>Code</th>
          <th>Project</th>
          <th>Role</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Assigned</th>
        </tr>
        </thead>
        <tbody>
        <% @engagements.each do |engagement| %>
          <tr>
            <th scope="row"><%= link_to engagement.full_code, engagement_path(engagement) %></th>
            <td><%= link_to engagement.project.name, project_path(engagement.project) %></td>
            <td><%= engagement.role.name %></td>
            <td><%= engagement.start_date %></td>
            <td><%= engagement.end_date %></td>
            <td><%= link_to engagement.staff.full_name, staff_path(engagement.staff) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>